* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}
/* HEADER */
header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 200px;
    height: 200px;
    margin-right: 1rem;
}

header span {
    font-weight: bold;
    font-size: 2rem;
}
/* MAIN */
.filters {
    text-align: center;
    margin-top: 3rem;
}

.filter-item input,
.filter-item button{
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid lightgreen;
    font-size: 1.2rem;
}

.todos {
    width: 50%;
    margin: 2rem auto;
    background-color: #d3d3d3;
    border-radius: .5rem;
    border: 2px solid lightgreen;
    font-size: 1.2rem;
}

ul {
    list-style: none;
}

.todo-list li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 1rem;
}

.todo-list li span {
    flex-grow: 1;
}

.done {
    text-decoration: line-through;
    text-decoration-color: greenyellow;
}

ul li i {
    cursor: pointer;
    color: red;
}
